<div class="well hoverwell thumbnail">
  <h2>{{techConfEvent?.name}}</h2>
  <div>Date: {{techConfEvent?.date}}</div>
  <div>Time: {{techConfEvent?.time}}</div>
  <div>Price: $ {{techConfEvent?.price}}</div>
  <div *ngIf="techConfEvent?.location">
    <span>Location: {{techConfEvent?.location?.address}}</span>
    <span class="pad-left">{{techConfEvent?.location?.city}}, {{techConfEvent?.location?.country}}</span>
  </div>
  <div *ngIf="techConfEvent?.onlineUrl">
    Online URL: {{techConfEvent?.onlineUrl}}
  </div>
</div>