<div class="well hoverwell thumbnail">
  <h2>{{techConfEvent?.name}}</h2>
  <div>Date: {{techConfEvent?.date}}</div>
  <div [class.green]="techConfEvent?.time === '8:00 am'" [ngSwitch]="techConfEvent?.time">
    Time: {{techConfEvent?.time}}
    <span *ngSwitchCase="'8:00 am'">(Early Start)</span>
    <span *ngSwitchCase="'10:00 am'">(Late Start)</span>
    <span *ngSwitchDefault>(Normal Start)</span>
  </div>
  <div>Price: <span [ngClass]="getPriceOfEvent()">$ {{techConfEvent?.price}}</span></div>
  <div [hidden]="!techConfEvent?.location">
    <span>Location: {{techConfEvent?.location?.address}}</span>
    <span class="pad-left">{{techConfEvent?.location?.city}}, {{techConfEvent?.location?.country}}</span>
  </div>
  <div *ngIf="techConfEvent?.onlineUrl">
    Online URL: {{techConfEvent?.onlineUrl}}
  </div>
</div>