.pad-left{
  margin-left: 10px;
}
.well div{
  color: #bbbbbb;
}
.thumbnail{
  min-height: 250px;
}
.green{
  color: #003300 !important;
}
.textDanger{
  color: #dc3545!important
}
.bold{
  font-weight: bold;
}