<div class="container">
  <img [src]="techConfEvent?.imageUrl" alt="techConfEvent?.name" class="event-image">
  <div class="row">
    <div class="col-md-11">
      <h2>{{techConfEvent?.name | uppercase }}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div><strong>Date:</strong> {{techConfEvent?.date | date:'shortDate' }}</div>
      <div><strong>Time:</strong> {{techConfEvent?.time}}</div>
      <div><strong>Price:</strong> {{techConfEvent?.price | currency:'USD' }}</div>
    </div>
    <div class="col-md-6">
      <address *ngIf="techConfEvent?.location">
        <strong>Address:</strong><br/>
        {{techConfEvent?.location?.address}}<br/>
        {{techConfEvent?.location?.city}}, {{techConfEvent?.location?.country}}
      </address>
      <div *ngIf="techConfEvent?.onlineUrl">
        Online URL: {{techConfEvent?.onlineUrl}}
      </div>
    </div>
  </div>
  <hr>
  <div class="row" style="margin-bottom:10px;">
    <div class="col-md-2">
      <h3 style="margin:0">Sessions</h3>
    </div>
    <div class="col-md-7">
      <div class="btn-group btn-group-sm" style="margin-right: 20px;margin-left:20px;">
        <button class="btn btn-default" [class.active]="sortBy==='name'" (click)="sortBy='name'">By Name</button>
        <button class="btn btn-default" [class.active]="sortBy==='votes'" (click)="sortBy='votes'">Votes</button>
      </div>
      <div class="btn-group btn-group-sm">
        <button class="btn btn-default" [class.active]="filterBy === 'all'" (click)="filterBy='all'">All</button>
        <button class="btn btn-default" [class.active]="filterBy === 'beginner'" (click)="filterBy='beginner'">Beginner</button>
        <button class="btn btn-default" [class.active]="filterBy === 'intermediate'" (click)="filterBy='intermediate'">Intermediate</button>
        <button class="btn btn-default" [class.active]="filterBy === 'advanced'" (click)="filterBy='advanced'">Advanced</button>
      </div>
    </div>
    <div class="col-md-2">
      <a (click)="addSession()">Add Session</a>
    </div>
  </div>
  <app-session-list [techConfEventId]="techConfEvent?.id" [sessions]="techConfEvent?.sessions" [filterBy]="filterBy" [sortBy]="sortBy" *ngIf="!addMode"></app-session-list>
  <app-create-session *ngIf="addMode" (saveNewSession)="saveNewSession($event)" (cancelAddSession)="cancelAddSession()"></app-create-session>
</div>